.formulario {
    display: flex;
    flex-direction: column ;
    padding: 100px 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
}
#form{
    background-color: rgb(0, 0, 0);
}
.p-contacto{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}
@media screen and (min-width: 768px) {

.texto{
width: 500px;
display: flex;
flex-direction: column;
align-self: left;
}

.button-contact{
margin: 10px;
width: 250px;
flex-direction: column;
align-self: center;

}
.tyc{
    text-align: left;
    margin: 10px;
}
#form{
    height: 1000px;
    display: flex;
    justify-content: left;
    justify-self: left;
align-items: center;
}
#escribinos{
    height: 200px;
}
.p-contacto{
    padding-bottom: 100px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}
                                }