.header {
    background-color: map-get($colors , headerFondoColor );
    
    @extend %titulosBase;
    display: flex;
  }

  .titulo{
    align-items: center;
    align-self: center;
    align-content: center;
  }