.caracteristicas{
  display: flex;
  flex-direction: column;
}
.premium
{ background-color: rgb(172 211 188);
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 50px;
}
.classic{
  background-color:  rgb(183 216 219);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 50px;
}
.titulo-lista{
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .caracteristicas{
    display: flex;
    flex-direction: row;
  }
  .premium
  {
    width: 50%;
  }
  .classic{
      width: 50%;
  }

}